
@import './base.module.scss';






  
  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    
  }
  
 
  
  .modalContent {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    animation: slideIn 0.3s ease-in-out;
    text-align: center;
    color:#579eb0;
    
    h2{}}
  
  
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    color: #579eb0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 80%;

  }
  
  .form label {
    margin-bottom: 10px;
    font-weight: 600;
    color: #579eb0;
  }
  
  .form input {
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s;
    width: 90%;
  }
  
  .form input:focus {
    border-color: #579eb0;
    outline: none;
  }
  
  .form button {
    display: inline-block;
        padding: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        background-color: #f7d7e0;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .form button:hover {
    background-color: #579eb0;
  }
  
  .form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .presentation {
    padding: var(--padding-section);
    background-color: var(--background-color);
    margin-bottom: 4rem;
    margin: auto;
    max-width: 1200px;
  
    h2 {
      font-size: 2.2rem;
      color: rgb(255, 255, 255);;
      text-align: center;
      
      max-width: 820px;
      margin: auto;
      margin-bottom: 30px;
      border-radius: 20px;
      padding:20px;
     
    }
  
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color:white;


    }
  
    .section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;
    
      padding: 20px;
      border-radius: 20px;
      background-color: #79b1c003;
      border: solid white 3px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition-duration:.1s ;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition-duration:.1s ;
      }
  
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      .text {
        flex: 1;
        p {
          font-size: 1.2rem;
          line-height: 1.6;
          margin-bottom: 1.5rem;
          color: var(--font-color);
        }
      }
  
      .image {
        flex: 0 0 auto;
        img {
          max-width: 50%;
          height: auto;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
        }
  
        @media (min-width: 768px) {
          order: 2; // Assure que l'image est à droite sur les écrans plus grands
          margin-left: 2rem; // Espace entre le texte et l'image
        }
      }
    }
  }
  
  .container {
    padding: var(--padding-section);
    padding-top: 100px;
    text-align: center;
  
    h1 {
   
      margin: 0;
      padding-top: 20px;
      color: white;
      font-size: 3rem;
    }
  
    p {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 4rem;
      color:rgb(255, 255, 255);
     
    }
  }
  
  .forfaits {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1700px;
    margin: auto;
    justify-content: center;
  
  
    .forfait {
      text-align: center;
      background-color: #79b1c003;
      padding: 20px;
      border-radius: 5px!important;
      box-shadow: var(--box-shadow);
      width: 20%;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border: solid 3px #ffffff;
      position: relative;
    overflow-y: scroll;
    max-height: 427px !important;
    background-color: white;
    transition-duration: .3s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      transition-duration: 0.3s;
      border: solid;
      border-color: #8fbeca;
    }
      
      
      
      h2 {
        font-size: 25px;
      margin-bottom: 30px;
     
      border-radius: 20px;
    
      color: #579eb0;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      }
  
      p {
        margin-bottom: 1rem;
        color: #579eb0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        padding: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        /* background-color: #579eb0; */
        border-color: #ffffff;
        border-style: dotted;
       
      }
  
      ul {
        text-align: left;
        padding: 0px;
        margin-bottom: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
       
        
  
        li {
        
          margin-bottom: 0.5rem;
          color: var(--font-color);
          list-style-type: none;
          margin-left: 0px;
          font-weight: 300;
    color: #5aa0b1;
        }
      }
  
     
    }
  }


  
 

.pres{padding-bottom: 50px;}

.collapsed {
  max-height: 4.5em; /* 4.5em will show approximately 4 lines */
  overflow: hidden;
  position: relative;
}

.collapsed::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5em; /* Match background color to create fade-out effect */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.expanded {
  max-height: none;
  overflow: visible;
}


.forfaitsbt{
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background: #f7d7e0;
  text-align: center;
  margin: auto;
  width: 100%;
padding: 10px;
border: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
font-weight: 700;
cursor: pointer;}

  .forfaitsbtvp{border: 2px solid #579daf;
    border-radius: 10px;
    color: #579daf;
    text-decoration: none;
    font-size: 20px;
    background: white;
    text-align: center;
    margin: auto;
    width: 150px;
    padding: 5px;
    cursor: pointer;}

    .forfaitsbtvp {
      display: flex;
      align-items: center;
      gap: 0.5em;
      justify-content: center;
    }

    .forfaitsbtvp svg{
      display: flex;
      align-items: center;
      gap: 0.5em;
      justify-content: center;
      width: 15px;
    }
    
    .forfaitsbtvp .faPlus,
    .forfaitsbtvp .faMinus {
      margin-right: 0.5em;
    }
    

    .button53 {
      
        // /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
        padding: 15px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 10px;
        border-color: white;
        border-style: solid;
        cursor: pointer;
    }
    .strdv h2{
      color: white;
      margin-bottom: 50px;
    }

    .strdv {
     margin-top: 50px;
     cursor: pointer;
     height: 119px!important;
    }

    .strdvlast{padding-bottom: 70px!important;
      margin-top: 50px;
      cursor: pointer;}
    .strdvlast h2{
      color: white;
      margin-bottom: 50px;
    }

    .price{    margin: 5px !important;
      color: #579daf;
      padding: 0px;
      font-weight: 800;
    }



    @media only screen and (max-width: 1100px) {
      .forfait {
        text-align: center;
        background-color: #79b1c003;
        padding: 20px;
        border-radius: 5px!important;
        box-shadow: var(--box-shadow);
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: solid 3px #ffffff;
        position: relative;
      overflow-y: scroll;
      max-height: 405px !important;
      background-color: white;
      min-width: 450px;
    }}

    @media only screen and (max-width: 550px) {
      .forfait {
        text-align: center;
        background-color: rgba(121, 177, 192, 0.0117647059);
        padding: 20px;
        border-radius: 5px !important;
        box-shadow: var(--box-shadow);
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: solid 3px #ffffff;
        position: relative;
        overflow-y: scroll;
        max-height: 469px !important;
        background-color: white;
        min-width: 70%;
    }}

    .hidden {
      opacity: 0;
      transform: translateY(40px);
      transition: transform 0.6s ease, opacity 0.3s ease;
    }
    
    .visible {
      opacity: 1;
      transform: translateY(0);
    }

    

