
@import './base.module.scss';


.appear{opacity: 0px;}


.sectionServices{max-width: 1700px; margin: auto;}
.container {
    
    text-align: center;
  }
  
  .forfaits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .forfait {
    border: none;
    border-radius:15px;
    padding: 20px;
    margin: 10px;
    width: 27%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .forfait button {
   display: inline-block;
        padding: 0.5rem 1rem;
        background-color: black;;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .forfait button:hover {
    background-color: #005bb5;
  }
  
  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modalContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    animation: slideIn 0.3s ease-in-out;
    
    h2{margin-top: -30px;}}
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;

  }
  
  .form label {
    margin-bottom: 10px;
    font-weight: 600;
    color: #555;
  }
  
  .form input {
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s;
    width: 80%;
  }
  
  .form input:focus {
    border-color: #579eb0;
    outline: none;
  }
  
  .form button {
    display: inline-block;
        padding: 0.5rem 1rem;
        background-color: black;;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .form button:hover {
    background-color: #579eb0;
  }
  
  .form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .presentation {
    padding: var(--padding-section);
    background-color: var(--background-color);
    margin-bottom: 4rem;
    margin: auto;
    max-width: 1200px;
  
    h2 {
      font-size: 2.2rem;
      color: rgb(255, 255, 255);;
      text-align: center;
      background: rgb(87,158,176);
      background: linear-gradient(90deg, rgba(87,158,176,0.6068802521008403) 0%, rgba(87,158,176,0.9822303921568627) 35%, rgba(87,158,176,0.68531162464986) 100%);
      max-width: 820px;
      margin: auto;
      margin-bottom: 30px;
      border-radius: 20px;
      padding:20px;
     
    }
  
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: var(--font-color);
      background: #579EB0;
background: linear-gradient(to right, #579EB0 0%, #6CC4DA 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    }
  
    .section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      padding: 20px;
      border-radius: 20px;
      background-color: white;
  
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      .text {
        flex: 1;
        p {
          font-size: 1.2rem;
          line-height: 1.6;
          margin-bottom: 1.5rem;
          color: var(--font-color);
        }
      }
  
      .image {
        flex: 0 0 auto;
        img {
          max-width: 50%;
          height: auto;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
        }
  
        @media (min-width: 768px) {
          order: 2; // Assure que l'image est à droite sur les écrans plus grands
          margin-left: 2rem; // Espace entre le texte et l'image
        }
      }
    }
  }
  
  .container {
    padding: var(--padding-section);
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
      color:black;
      font-family: "Roboto", sans-serif;
font-weight: 900;
font-style: normal;
text-align: center;
    }
  
    p {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 4rem;
      color:black;
     
    }
  }
  
  .forfaits {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1700px;
    margin: auto;
  
  
    .forfait {
      text-align: left;
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      width: 20%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: solid 3px #579eb0;
      
      
      h2 {
        font-size: 25px;
      margin-bottom: 30px;
     
      border-radius: 20px;
    
      color: rgb(0, 0, 0);
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
      }
  
      p {
        margin-bottom: 1rem;
        color: rgb(0 0 0);
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        padding: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        /* background-color: #579eb0; */
        border-color: #579eb0;
        border-style: dotted;
       
      }
  
      ul {
        text-align: left;
        padding: 0px;
        margin-bottom: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
       
        
  
        li {
        
          margin-bottom: 0.5rem;
          color: var(--font-color);
          list-style-type: none;
          margin-left: 0px;
          font-weight: 500;
        }
      }
  
      button {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: black;;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
      button:hover {
       
      }
    }
  }

  .forfait:hover{
    border: solid 3px #579eb0; 
    transition-duration: .1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  
  .fusee{width: 100px;
  margin-bottom: -60px;}

  .fusee2{width: 100px;
    margin-bottom: -10px;}

    .fusee3{width: 80px;
      margin-bottom: -30px;}
    
  .image{text-align: center;}

  .mainga{background-attachment: fixed!important;
    background: url("/images/paris-bg.jpg") no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
    background-repeat: no-repeat;
  }

  .section h1{ font-size: 3rem;
    color: var(--font-color);
    background: #579EB0;
background: linear-gradient(to right, #579EB0 0%, #6CC4DA 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Roboto", sans-serif;
font-weight: 800;
font-style: normal;
text-align: center;}

.appear{opacity: 0;
  }

.active{opacity: 1!important;
  transition-duration: 1s;
  animation: pres 1s ease 0s 1 normal forwards;
 }

 @keyframes pres {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}