@import "./base.module.scss";

  .modalCard{opacity: 1;
    width: 100%;
    height: 100%;
    a{padding: 0.6rem clamp(1rem, 10vw, 3rem);
      font-size: 1.5em;
      background-color: #579eb0;
      color: #fff;
      display: block;
      border: transparent;
      border-radius: 0.5rem;
      margin: 31px auto;
      box-shadow: rgba(0, 0, 0, 0.355) -2px 7px 8px 0px;
      transition: background 0.5s linear;
      text-decoration: none;
    cursor: pointer;
      }
    
    h3{margin: 0;}
    h4{margin: 0;
      }
    p{margin: 0;
      margin-bottom: 20px;}
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      border-radius: 0.6rem;
      background-color: #fff; // Default background color
      width: 90%;
      height: auto;
      padding:10px!important;
  
    h2 img {
      width: 10% !important;
      height: 10%;
    }
    svg {
      display: var(--fa-display, inline-block);
      height: 2em!important;
      overflow: visible;
      vertical-align: -0.125em;
      float: right!important;
    }
  }
 



