@import "./base.module.scss";

.partenaires {
  position: relative;
  width: 100%;
  overflow: hidden;

  .nosOutils {
    display: flex;
    align-items: center;
    overflow: scroll;
    width: max-content;
    margin: auto;
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: 3rem;

    @include media-min("base") {
      width: max-content;
      margin-bottom: 5rem;
      margin-top: 5rem;
    }

    img {
      width: 6rem;
      height: 100%;

      @include media-min("base") {
        width: 10rem;
        height: 100%;
      }
    }

    /* width */
    &::-webkit-scrollbar {
      width: 20px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color;
    }
  }
}
