@import "./base.module.scss";
.reviews {
  
  color: #fff;
  padding: 20px;
  border-radius: 0px;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .reviewsRating {
    margin-bottom: 20px;
    font-size: 1.2em;

    .faIcon {
      color: #ffd700;

      &.active {
        color: #ffd700;
      }
    }
  }

  .carousel {
    position: relative;
    display: flex;
    align-items: center;

    .prev,
    .next {
      background: none;
      border: none;
      color: #fff;
      font-size: 2em;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }

    .reviewContent {
      display: flex;
      overflow: hidden;
      width: 100%;
      justify-content: center;

      .reviewsCard {
        min-width: 300px;
        max-width: 300px;
        flex: 0 0 auto;
        background: #ffffff33;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 310px;

      
      

        .reviewsBody {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .reviewsCircle {
            background: #ffffff;
            border-radius: 50%;
            padding: 10px;
            margin-bottom: 10px;
          }

          p {
            font-size: 1em;
            line-height: 1.5em;
            color: #fff;

            &.min {
              font-size: 0.9em;
            }
          }
        }

        .reviewsBottom {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .reviewsRate {
            margin-bottom: 10px;

            svg {
              color: #ffd700;
            }
          }

          .reviewsAuthor {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.reviewsCard:hover {box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}