@import "./base.module.scss";

.services {
  
  @extend ._baseSection;
  width: 85vw;
  margin: auto;
  padding: 0;
  margin-top: 40px;

  .modalCard {
    z-index: 999;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    top: 200vh; // Initial position off-screen
    left: 0;
    position: fixed;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.modalShow {
      top: 0;
      background-color: rgba(0, 0, 0, 0.8); // Semi-transparent background
      opacity: 1;
      width: 100%;
      height: 100%;

      .content {
        top: 50%;
        transition: all 0.5s ease-in-out;

        .faIcon {
          position: absolute;
          top: -10vh;
          right: 0;
          color: #fff;
          font-size: 3em;
        }
      }
    }

    &.modalUnshow {
      background-color: transparent;
      opacity: 0;

      .content {
        top: 200vh;

        .faIcon {
          display: none;
        }
      }
    }

    .content {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      border-radius: 0.6rem;
      background-color: #fff; // Default background color
    }

    &.type1 .content {
      background-color: #fff;
    }

    &.type2 .content {
      background-color: var(--primary-color);
    }
  }

  h2 {
    color: #ffffff;
    font-size:48px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);


    @include media-min("base") {
    
    }
  }

  .columns {
    @include media-min("custom2") {
      display: flex;
      justify-content: center;
    }

    .servicesList {
      display: flex;
      flex-wrap: wrap;
      width: 55%;
      row-gap: 1.5rem;
      column-gap: 1.8rem;
      box-sizing: border-box;
     

      @include media-max("tablet-down") {
        row-gap: 1.5rem;
        column-gap: 2rem;
        width: 100%;
      }

      @include media-min("custom2") {
        width:55%;
        row-gap: 2rem;
        column-gap: 2.5rem;

      }

      @include media-min("widescreen-up") {
        padding: 2rem 3rem;
        row-gap: 3rem;
        column-gap: 4rem;
      }

      .card {
        width: 40%;
        
        flex-grow: 1;
        perspective: 1000px;
        cursor: pointer;

        @include media-max("phone-down") {
          height: 7rem;
        }

        @include media-min("phone-down") {
          height: 9.5rem;
        }

        @include media-min("tablet-up") {
          height: 12.5rem;
        }

        @include media-min("custom2") {
          height: 13.5rem;
        }

        @include media-min("widescreen-up") {
          height: 14rem;
        }

        &:hover {
          @include media-min("tablet-up") {
            .flipCardInner {
              transform: rotateY(180deg);
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
          }
        }

        .flipCardInner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 15px;
          background-color: rgba(255, 255, 255, 0.2);
          color: white;

          

          &.bg-blue {
            .cardBack span img {
              filter: invert(1);
            }
          }

          &.bg-white {
            text-decoration: none;
            color: #474747;

            @include media-min("tablet-up") {
              color: #ffffff;
            }
          }

          &.bg-blue {
            background-color: #579eb0;
            color: #fff;
          }

          &.imgcenter {
            .serviceImg {
              margin-left: 24px;
            }
          }

          .cardFront {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-min("phone-down") {
              justify-content: space-around;
            }

            .serviceImg {
              margin-top: 0;
              transform: scale(0.7);

              @include media-min("phone-down") {
                transform: scale(1);
                margin-top: 0.5rem;
              }

              @include media-min("widescreen-up") {
                margin-top: 1rem;
              }
            }

            .serviceTitles {
              h3 {
                text-align: center;
                font-size: 0.8rem;
                margin: 0;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @include media-min("phone-down") {
                  font-size: 1.3rem;
                  margin-top: 0.5rem;
                }

                @include media-min("widescreen-up") {
                  font-size: 1.8rem;
                }
              }

              p {
                font-size: 1.1rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @include media-min("widescreen-up") {
                  font-size: 16px;
                }
              }
            }
          }

          .cardFront,
          .cardBack {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          .cardBack {
            transform: rotateY(180deg);

            p {
              position: absolute;
              transform: translate(-50%,-50%);
              left:50%;
              top:50%;
              font-size: 18px;
    margin: 0;
            }

            span {
              position: absolute;
              bottom: 1rem;
              right: 1rem;
              display: flex;
              align-items: center;
              gap: 1rem;

              img {
                width: 40px;
                height: auto;
              }
            }
          }
        }
      }
    }

    .income {
      width: 100%;
      margin-top: 2.5rem;
      position: relative;
      font-size: 48px;
      text-align: left;

      @include media-min("custom2") {
        width: 45%;
        margin-top: 0;
      }

      h3 {
        color: #ffffff;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        

        @include media-min("phone-down") {
          font-size: 1.7rem;
        }

        @include media-min("widescreen-up") {
       font-size: 48px;
        }

        .firstLine {
          position: relative;
          text-align: left;

          &:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-image: url("/images/vector-1-income.png");
            font-size: 48px;
           color:white 
          }
        }

        .secondLine {
          display: inline-block;
          margin-top: 0.25rem;
          position: relative;
          font-size: 48px;
           color:white 

          &:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-image: url("/images/vector-2-income.png");
          }
        }
      }

      .activities {
        list-style: none;
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2rem;

        @include media-min("phone-down") {
          font-size: 1.25rem;
        }

        li {
          display: flex;
          align-items: center;
          margin-bottom: 0.6rem;
          color:white;

          @include media-min("phone-down") {
            margin-bottom: 2rem;
          }

          span {
            width: 100%;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("/images/income-list-puce.png") no-repeat;
            background-size: contain;
            margin-right: 2rem;
            filter: brightness(0) saturate(100%) invert(83%) sepia(81%) saturate(1%) hue-rotate(220deg) brightness(114%) contrast(102%);
          }
        }
      }

      .questions {
        font-family: "Sedgwick Ave";
        font-size: 1.25rem;
        list-style: none;
        text-align: left;

        @include media-min("phone-down") {
          font-size: 1.5rem;
        }

        @include media-min("widescreen-up") {
          font-size: 1.75rem;
        }

        li {
          margin-bottom: 0.5rem;
          color:white;

          @include media-min("custom2") {
            margin-bottom: 1.25rem;
          }

          &.specificQuestion {
            text-align: right;

            @include media-min("phone-down") {
              text-align: left;
            }
          }
        }
      }

      .arrowButton {
        
        display: flex;
        left: 0;
        align-items: center;
        gap: 2rem;

        @include media-min("phone-down") {
          left: 35%;
        }

        .serviceToForm {
          cursor: pointer;
        }
      }
    }
  }

  .infosCardsMobile {
    .blackScreen {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 40;
      left: 0;
      top: 0;
      height: 100000%;
      width: 100%;
      position: absolute;
      display: none;
    }

    .infoCard {
      margin: auto;
      border-radius: 1rem;
      padding: 2rem 1rem 1rem 1rem;
      box-sizing: border-box;
      z-index: 50;
      position: absolute;
      left: 50%;
      width: 95%;
      transform: translateX(-50%);
      display: block;

      &.imgcenter {
        .serviceImg {
          margin-left: 40px;
        }
      }

      &.bg-white {
        text-decoration: none;
        color: #000;

        .description {
          background-color: #579eb0;
          padding: 2.5rem 1rem;
          color: #fff;
          font-weight: bold;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }
      }

      &.bg-blue {
        background-color: #579eb0;
        color: #fff;

        .description {
          background-color: #fff;
          padding: 2.5rem 1rem;
          color: #579eb0;
          font-weight: bold;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }
      }

      .serviceImg {
        transform: scale(1.4);
      }

      .serviceTitles {
        h3 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }

        p {
          font-size: 1.1rem;
          font-weight: bold;
        }
      }

      .knowMore {
        text-align: right;
        margin: 0;
      }

      .faIcon {
        transform: scale(2.5);
        position: absolute;
        color: #fff;
        top: -2rem;
        right: 1rem;
        cursor: pointer;
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes unshow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cardBack span img {
 width: 20px;


}

.learnMore{
  font-size: 16px; 
  color: #fff;
  cursor: pointer; 
   max-width: 100px; 
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 5px;
  right: 0;
  
}

.h2scroll {
  font-size: 100px!important;
overflow: hidden;
  transition: transform 0.5s ease; // Transition pour un mouvement fluide
  opacity: .2;
  margin: 0px;
  margin-left: -100px;
 
}

.rel{position: relative;
  overflow: hidden;}


