@import "./base.module.scss";

.teamflex{
max-width: 1200px;
justify-content: center;
margin: auto;
font-size: 1.2rem;
      margin-bottom: 20px;
     
      padding: 30px;
      border-radius: 10px;
      
    background-color: rgb(255, 255, 255);
    padding-top: 10px!important;
    margin: 0;
  margin: auto;
  border-color:white;
  border-style:solid;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team {
  padding: 20px;
  text-align: center;
  background: url("/images/bgteam3.png") no-repeat;
  background-size:cover ;
  // padding-top: 150px!important;
  // padding-bottom: 150px!important;
  

  .rel {
    position: relative;
  }

  .teamPictures img{ width: 140px!important;}

  .teamTitle {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
    background-color: #579eb0;
    max-width: 820px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
  }

  .teamPictures {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    justify-content: center;
  
    margin: auto;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    
    border-radius: 10px;
    
    align-items: center;
    
    padding: 10px;
    overflow-y: hidden;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: white;
    flex-wrap: wrap;
    max-width: 800px;
    
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &::-webkit-scrollbar {
      display: none; // Hide scrollbar for a cleaner look
    }


    .pictureWrapper {
      flex: 0 0 auto;
    
      display: flex;
      flex-direction: column;
      align-items: center;

      

      .pictureCaption {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 600;
        
    color: #579eb0;
      }
    }
  }

  .aboutUs {
    margin-top: 40px;
    text-align: left;
    padding: 0 20px;
    padding-bottom: 20px;
    
    margin: auto;
    text-align: center;

    .description1 {
      
    

    }

    .teamButton {
      border-radius: 10px;
    padding: 0.8rem 2rem;
    background: #579daf;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
      }
    }
  }

  @media (max-width: 768px) {
    .teamPictures {
      flex-direction: row; // Horizontal scrolling for mobile
    }

    .pictureWrapper {
      flex: 0 0 auto;
      width: 250px; // Adjust width for mobile view
      
    }
  }
}

.team img {
 
  height: auto;
}

.team .logo{margin-top: 20px;
  width: 200px!important;}

.Titleh2{color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);}

  .hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
    margin: 0px!important;
  }
  
  .rel, .aboutUs, .description1 {
    // Vos styles existants
    &.hidden {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
  
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .h2scroll {
    font-size: 100px!important;
  overflow: hidden;
    transition: transform 0.5s ease; // Transition pour un mouvement fluide
    opacity: .2;
    margin: 0px;
    color: #579daf;
   
  }
  
  .rel{position: relative;
    overflow: hidden;}

    .pictureWrapper img {
      transition: transform 1s ease; /* Utilisation de transform pour une animation fluide */
    }
    
    .pictureWrapper img:hover {
      transform: scale(1.1); /* Zoom de l'image */
      transition-duration: 1s; /* Durée de l'animation */
    }

    .description1  p{line-height: 2;}
    .description1  h2{color:#579daf;}
    .aboutUs  h2{color:#579daf;}
    .visible h2{color:#579daf;}
    .strong{font-weight: 900;
     color: #579dafd1;}

    
/* CSS */
.button53 {
  background-color: #579daf;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    padding: 15px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border-color: white;
}




     